@import "./variables.scss";

.bg--modal {
    @media (min-width:$tablet) {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0, 0.5);
    } 
}

.modal2 {
    padding: 16px;
    @media (min-width:$tablet) {
        z-index: 999;
        position: absolute;
        height: 553px;
        width: 600px;
        left: 50%;
        margin-left: -300px;
        top: 50%;
        margin-top: -270px;
        background-color: #FFFFFF;
        border-radius: 5px;
    }
    @media (min-width:$desktop) {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        z-index: 999;
        position: absolute;
        height: 686px;
        width: 540px;
        left: 50%;
        margin-left: -270px;
        top: 50%;
        margin-top: -312px;
        background-color: $white;
        border-radius: 5px;
    }

    &__title h1{
        margin-bottom: 0px;
        @media (min-width:$tablet) {
           margin-bottom: 24px;
           padding-left: 30px;
        } 
        @media (min-width:$desktop) {
            margin: unset;
        }
    }

    &__flex {
        display: flex;
        flex-flow: column;
        @media (min-width:$tablet) {
           flex-flow: row wrap;
           justify-content: center;
        }
        &__item {
            margin-top: 24px;
            @media (min-width:$tablet) {
                flex-flow: row wrap;
                justify-content: center;
                margin: 0 20px;
                margin-top: 8px;
            }
            &__input {
                box-sizing: border-box;
                height: 48px;
                width: 100%;
                padding-left: 16px;
                margin-top: 8px;
                border: solid #E1E1E1 1px;
                border-radius: 5px;
                background-color: $alabaster;
                outline-color: transparent;
                outline-style: none;
                font-size: 16px;
                color: black;
                @media (min-width:$tablet) {
                    width: 157px;
                }
                @media (min-width:$desktop) {
                    width: 220px;
                }
                &--textarea {
                    box-sizing: border-box;
                    height: 80px;
                    width: 100%;
                    padding-left: 16px;
                    margin-top: 8px;
                    border: solid #E1E1E1 1px;
                    border-radius: 5px;
                    background-color: $alabaster;
                    outline-color: transparent;
                    outline-style: none;
                    font-size: 16px;
                    color: black;
                    @media (min-width:$tablet) {
                        width: 354px;
                        height: 48px;
                    }
                    @media (min-width:$desktop) {
                        width: 480px;
                        height: 80px;
                    }
                }
            }
        }
    }
    &__btn {
        margin-top: 24px;
        @media (min-width:$tablet) {
            display: flex;
            flex-flow: row-reverse;
            align-items: center;
            padding-right: 32px;
        }
        @media (min-width:$desktop) {
            margin-bottom: 8px;
        }

        &__Sbtn {
            background:#004892;
            border-radius: 5px;
            border: none;
            width: 100%;
            height: 50px;
            font-weight: 500;
            font-size: 16px;
            color: $alabaster;
            @media (min-width:$tablet) {
                width: 186px;
            }
        }
        
        &__Cbtn {
            margin-top: 8px;
            background: white;
            border: none;
            width: 100%;
            height: 50px;
            font-weight: 500;
            font-size: 16px;
            color: #004892;
            @media (min-width:$tablet) {
                width: 186px;
                margin-top: unset;
            }
        }
    }
}