@import "./variables.scss";

$mob-tab: 500px;

$primary-color: #004892;
$secondary-color: #FAFAFA;
$tertiary-color: #AFAFAF;
$b-rad: 5px;

.inventory {
    box-sizing: border-box;
    padding: 1rem 5%;
    @media (min-width: $tablet){
        padding: 1rem 3%;
    }
    @media (min-width: 1440px) {
        padding: 1rem 180px;
    }
}

.inventory-header{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    @media (min-width: $mob-tab){
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

.inventory-header__search-bar{
    display: flex;
    width: 252px;
    height: 3rem;
    border: solid #E1E1E1 1px;
    border-radius: $b-rad;
    background-color: $secondary-color;
    margin: 0.5rem 0;
  } 

  .inventory-header__search-bar--img{
    margin: 1rem;
  }

  .inventory-header__search-bar--input{
    border: none;
    background-color: $secondary-color;
    outline-color: transparent;
    outline-style: none;
    font-size: 16px;
    color: black;
  }

table, tbody, tr, td{
    @media (max-width: 500px){
        display: block;
    }
    text-align: left;   
}

table{
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    h5{
        margin: 0;
        padding-top: 0.5rem;
        @media (min-width: $mob-tab){
            max-width: 30vw; 
            margin: 0; 
        }
    }
    p{
        margin: 0;
        @media (min-width: $mob-tab){
            max-width: 30vw;  
        }
    }
    th{
        padding-top: 1rem;
        @media (min-width: $mob-tab){
            max-width: 30vw; 
            min-width: 10vw; 
        }
    }
}

tr{
    margin: 0.5rem 0 0;
    @media (min-width: $mob-tab) {
        margin: 0 0.5rem;
    }
}

.inventory-table__hidden-row{
    @media (max-width: 500px){
        display: none;
        border-bottom: solid 2px $mercury;
    }
    @media (min-width: 500px){
       width: 35vw;
    }
}

.inventory-table__hidden-column{
    @media (min-width: 500px){
        display: none;
        max-width: 35vw;
    } 
}

.left{
    @media (min-width: 500px){
        padding-left: 1rem;
    } 
}

.inventory-table__component{
    padding-bottom: 1rem;
    border-bottom: solid 1px $mercury;
    font-family: 'Avenir', sans-serif;
}
.inventory-table__component td{
    @media (min-width: 501px){
        border-bottom: solid 1px $mercury; 
        padding-bottom: 1rem;
    }   
}
.inventory-table__title{
    color: black;
}

td a{
    text-decoration: none;
}

.add-button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $primary-color;
    position: fixed;
    bottom: 10vh;
    right: 10vw;
}

.inventory-delete{
    display: flex;
    justify-content:space-between;   
}

.inventory-delete__menu{
    position: absolute;
    right: 2rem;
    a {
        text-decoration: none;
        color: black;
        border: $mercury solid 1px;
        border-radius: 2px;
        background-color: #FAFAFA;
        width: 40px;
        height: 1.5rem;
        line-height: 2;
        @media (min-width: $desktop) {
            padding-right: 12rem;
        }
    } 
    @media (min-width: $mob-tab) {
        padding-right: 2rem;
    }
    @media (min-width: $tablet) {
        padding-right: 2rem;
    }
    @media (min-width: 1024px) {
        padding-right: 3rem;
    } 
    @media (min-width: 1440px) {
        padding-right: 11rem;
    } 
}

.inventory-delete__menu a{
    text-decoration: none;
    display: block;
    text-decoration: black;
    padding: 0 2rem 0 1rem;
    box-shadow: -1px 1rem 20px #AFAFAF;
}

.inventory-delete:hover .inventory-delete__menu{
    display: block;
}

.inventory-table__delete-button{
    padding: 0;
    border: none;
    background: none;
    outline: none;
    img{
        height: 12px;
    }
}

#add-icon{
    width: 20px;
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
}
