@import './variables.scss';

.location-list{
    font-family: 'AvenirNext LT Pro'
}

.locations-header{
    margin: 0 16px 0 16px;
    display:block;
    @media (min-width:$tablet){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @media (min-width:$laptop){
        margin-bottom:32px;
    }
    
    .locations-header__title{
        margin: 32px 0 30px 0px;
        @media (min-width:$tablet){
            margin: 32px 0 30px 0px;
        }
        @media (min-width:$laptop){
            margin: 32px 0 0px 0px;
        }
    }
    
    .locations-header__input{
        height: 2.5rem;
        width: 75vw;
        border-radius: 5px;
        padding-left: 35px;
        margin-bottom: 32px;
        border: solid thin lightgray;
        background-image: url('Icon-search.svg');
        background-repeat: no-repeat;
        background-position: 10px 12px;
        @media (min-width:$tablet){
            width:20vw;
            margin-bottom:0;
        }
    }
}

.locations_table{
    border-collapse: collapse;
    width:80vw;
    margin: 0 auto 0 auto;
    @media (min-width:$tablet){
        width:95vw;
    }
}

.tableHeadings{
    display:none;
    @media (min-width:$laptop){
        display: table-header-group;
    }
}

.single-location-row{
    border-bottom: thin grey solid;
    position: relative;
    @media (min-width:$tablet){
        height: 100px;
        padding: 16px 0;
    }

    .wareName-and-address{
        display: table-cell;
        padding-bottom: 7px;
        @media (min-width:$tablet){
            display:none;
            min-width: 190px;
        }
        @media (min-width:$laptop){
            display: table-cell;
        }
    }

    .name-and-title{
        padding-bottom: 16px;
        @media (min-width:$tablet){
            max-width: 200px;
        }
    }

    .phone-and-email{
        padding-bottom: 16px;
        @media (min-width:$tablet){
            min-width: 350px;
        }
        @media (min-width:$laptop){
            min-width: 340px;
        }
    }

    .single-location__categories{
        width: 250px;
    }

    .linkArrow{
        position: absolute;
        bottom: 80%;
        left: 95%;
        @media (min-width:$tablet){
            position: static;
        }
    }
}

.wareName-and-address-tablet{
    display:none;
    @media (min-width:$tablet){
        display: table-cell;
        width:100%;
        padding-top:24px;
    }
    @media (min-width:$laptop){
        display:none;
    }
}