@import "./variables.scss";

.navbar {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    margin: 0;
    background-color: $black;
    @media (min-width:$tablet) {
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0 1rem;
    }
    @media (min-width:$laptop) {
        padding: 0 1rem;
     }
    @media (min-width:1440px) {
       padding: 0 180px;
    }

    &__logo{
        position: relative;
        top: 16px;
        @media (min-width:$tablet) {
            position: unset;
            padding-left: 16px;
            padding-right: 24px;
        }
    }

    &__link {
        width: 100%;
        display: flex;
        justify-content: space-around;
        box-sizing: border-box;
        @media (min-width:$tablet) {
            justify-content: flex-start;
            height: 82px;
            align-items: center;
        }
        &__inventory h2{
            @include navbarLink;
            width: 50vw;
            height: 30px;
            margin: 0;
            border-bottom: solid $black 5px;
            @media (min-width:$tablet) {
                width: 86px;
                height: 78px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 24px;
            }
        }
        
        &__locations h2{
            @include navbarLink;
            width: 50vw;
            margin: 0;
            height: 30px;
            border-bottom: solid $black 5px;
            @media (min-width:$tablet) {
                width: 86px;
                height: 78px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 24px;
            }
        }
    }
}

.active h2{
    @include navbarLink;
    width: 50vw;
    height: 30px;
    margin: 0;
    border-bottom: solid $white 5px;
    color: $white;
    @media (min-width:$tablet) {
        width: 86px;
        height: 78px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 24px;
    }
}