//DECLARED VARIABLES

//vw
$desktop1: 1024px;
$desktop2: 1440px;
$tablet: 600px;

.product{
    display: flex;
    flex-direction:  column;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 16px;

    @media(min-width: $tablet){
        padding: 0px 32px;
    }

    @media(min-width: $desktop1){
        padding: 0px 180px;
    }

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 48px;
        margin-bottom: 40px;

        @media(min-width: $tablet){
            justify-content: flex-start;
        }

        &__title{
            display: flex;
            align-items: center;

            h1{
                margin: 0px;
            }

            img{
                height: 24px;
                width: 16px;
                margin-right: 24px;
            }
        }

        .instock{
            background-color: rgb(39, 182, 39);
            color: white;
            border-radius: 4px;
            width: 88px;
            height: 24px;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            @media(min-width: $tablet){
                margin-left: 24px;
            }
        }

        .outofstock{
            background-color: #E1E1E1;
            color: black;
            border-radius: 4px;
            width: 120px;
            height: 24px;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            @media(min-width: $tablet){
                margin-left: 24px;
            }
        }
    }

    &__info{
        display: flex;
        flex-direction: column;

        @media(min-width: $desktop1){
            flex-direction: row;
        }
        
        &__description{
            @media(min-width: $desktop1){
                width: 50%;
                margin-right: 2.5%;
            }
        }

        &__details{
            @media(min-width: $desktop1){
                width: 50%;
            }

            .row{
                display: flex;
                justify-content: flex-start;
                width: auto;

                .refLocation{
                    margin-left: 5%;
                    display: flex;
                    flex-direction: column;
                     
                    h5{
                        margin: 0px;
                    }

                    @media(min-width: 370px){
                        margin-left: 15%;
                    }

                    @media(min-width: 400px){
                        margin-left: 20%;
                    }

                    @media(min-width: $tablet){
                        margin-left: 30%;
                    }

                    @media(min-width: $desktop1){
                        margin-left: 10%;
                    }

                    @media(min-width: $desktop2){
                        margin-left: 25%;
                    }
                }
            }
        }
    }

    button{
        background-color: #004892;
        border-radius: 4px;
        color: white;
        font-weight: 500;
        font-size: 24px;
        height: 64px;
        width: 100%;
        margin-top: 48px;
        margin-bottom: 50px;
        
        &:hover{
            background: #002F5F;
        }

        @media(min-width: $tablet){
            font-size: 16px;
            margin-top: 0px;
            height: 48px;
            width: 160px;
            align-self: flex-end;
        }
    }
}

.mobileHidden{
    visibility: hidden;

    @media(min-width: $tablet){
        visibility: unset;
    }
}

.unposition{
    position: absolute;

    @media(min-width: $tablet){
        position: unset;
    }
    
}

.label{
    font-weight: 700;
    font-size: 16px;
    margin:0px;
    padding-bottom: 24px;
}

.text{
    font-weight: 100;
    margin: 0px;
    padding-bottom: 56px;
}

.line{
    @media (min-width: $tablet){
        margin-bottom: 40px;
    }
}

.lastpara{
    padding-bottom: 0px;
    @media (min-width: $tablet){
        padding-bottom: 56px;
    }
}