/*Stock Colors*/
$black: #323232;
$silver: #afafaf;
$mercury: #e1e1e1; 
$alabaster: #FAFAFA;
$white: #FFFFFF;

/*Viewport Width Break Points*/
$mobile: 320px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px; 

//Stock Text Styles
h1{
    font-size: 24px;
    line-height: 32px;
    @media(min-width: $tablet){
        font-size: 36px;
        line-height: 44px;
    }
}

h2{
    font-size: 14px;
    line-height: 22px;
    @media(min-width: $tablet){
        font-size: 24px;
        line-height: 32px;
    }
}

h3{
    font-size: 16px;
    line-height: 24px;
}

h4{
    font-size: 13px;
    line-height: 18px;
    p{
        @media(min-width: $tablet){
            font-size: 14px;
            line-height: 22px;
        }
    }
    
    ul{
        @media(min-width: $tablet){
            font-size: 14px;
            line-height: 20px;
        }
    }
}

h5{
    color: #AFAFAF;
    font-size: 12px;
    line-height: 20px;
    margin: 0px;
    font-weight: 500;
}

hr{
    border: none;
    height: 1px;
    width: 100%;
    background-color: #E1E1E1;
    color: #E1E1E1;
}

/*Typography Mixins*/
@mixin font-black {
    font-family: 'AvenirNext LT Pro';
    color: $black;   
}

@mixin font-alabaster {
    font-family: 'AvenirNext LT Pro';
    color: $alabaster;
}

@mixin font-white {
    font-family: 'AvenirNext LT Pro';
    color: $white;
}

@mixin font-silver {
    color: $silver;
}

//navbar text typography
@mixin navbarLink {
    @include font-silver;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

