@import './variables.scss';

$mobile: 320px;
$mob-tab: 500px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

.mainTable{
    background-color: $alabaster;
    .tableDiv{
        background-color: white;
        padding: 0 16px;
        @media (min-width: $tablet) {
            padding: 0 24px;
        }
        @media (min-width: $desktop) {
            padding: 0 180px;
        }
        &__headerIcon{
            display: flex;
            border-bottom: 1px solid $silver;
        }
        &__header{
            padding-left: 20px;
        }
        &--Setsize{
            width: 45%;
        }
        &__thead{
            text-align: left;
        }
    }
}
.warehouse{
    padding: 0 16px;
    @media (min-width: $tablet) {
        padding: 0 24px;
    }
    @media (min-width: $desktop) {
        padding: 0 180px;
    }

    .warehouseTable{
        &__hiddenRow{
            @media (max-width: 500px){
                display: none;
            }
        }
    }
}

.warehouseProduct{
    &__hiddenColumn{
        @media (min-width: 500px){
            display: none;
        }
    }
}

.sizing {
    width: 50%;
}

.warehouse__status-button{
    display: flex;
    justify-content: space-between;
    @media (min-width: 500px){
    padding-top: 1.4rem;
    }
    @media (min-width: $desktop){
        padding-top: 1rem;
    }
}
